body {
	max-width: 1000px;
	margin: auto;
	background-color: #f2f2f2;
	font-family: Veranda, Geneva, serif;
}

p#opening {
	text-align: center;
	font-style: italic;
}

h1#pagetitle {
	position: absolute;
	top: 20%;
	left: 13%;
	font-size: 800%; 
	color: white;
	font-variant: small-caps;
}

img#main {
	width: 95%;
	margin: auto;
	margin-top: 1%;
	border: 5px solid black;
	box-shadow: 5px 5px 30px #d9d9d9;
}

h2.sectiontitles {
	font-size: 50px;
	text-align: center;
	font-variant: small-caps;
	border: 1px solid black;
	border-radius: 25px;
	background-color: #AFEEEE;
}

.sections {
	border: 2px solid gray;
	border-radius: 20px;
	width: 44%;
	height: 1100px;
	vertical-align: top;
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 2%;
}

#cautions {
	border: 2px solid gray;
	border-radius: 20px;
	width: 93%;
	height: 330px;
	padding-left: 2%;
	padding-right: 2%;
}

#placeslist {
	list-style: none;
	text-align: center;
}

img.placesimg {
	width: 80%;
	border: 3px solid lightgray;
}

p#food {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
table {
	border-collapse: collapse;
	width: 100%
}

th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: hotpink;
}

th {
	background-color: lightgray;
	color: gray;
}

/* RECIPE PAGE STYLING */

main.recipe {
	max-height: 5000px;
	text-align: center;
	background-image: url("thaipatter.jpg");
	background-color: white;
}

h1#precipe {
	color: white;
	font-size: 100px;
	font-family: "Times New Roman", Georgia, serif;
}

a:link {
	color: blue;
}

a:visited {
	color: lavender;
}

a:hover {
	color: limegreen;
	font-size: 30px;
}

@media screen and (max-width: 500px) {
	body {
		background-color: green; 
	}
}
