body {
	max-width: 1000px;
	margin: auto;
	background-color: skyblue;
}

img {
	width: 99%;
}

h1#pagetitle {
	position: absolute;
	text-align: center;
	top: 30%;
	font-size: 120px; 
	font-family: Veranda, Geneva, serif;
	color: white;
;